html{
    
    font-size:62.5%;
    

    @include respond(1200) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(900) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(1800) {
        font-size: 75%; //1rem = 12, 12/16
    }

}


.form-control {
    font-size: inherit
}

.custom-select{
    font-size: inherit
}

.form-check-input {
    margin-top: 0.7rem;
    position: relative;
    
}

.form-check-input {
    color: red;
    border-color: #7B1FA2;
  }


