body{
    font-size: 1.6rem;
}

a{
    text-decoration:none;
    transition: all 0.3s;
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
}

.heading-secondary{
    text-transform: uppercase;
}