
body{
    font-size: 1.6rem;
    color: $color-grey-dark-3;
    
}

a{
    text-decoration:none;
    transition: all 0.3s;
}

p{
    font-size: inherit;
}

.text-muted {
    color: $color-grey-dark;
}

.link{
    cursor: pointer;
    color: $color-teal;

    &:hover{
        color: $color-teal-dark;
    }
}


.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;

    &--main{
        font-size: 4rem;
        letter-spacing: 2.0rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond(600) {
            letter-spacing: 1.5rem;
        }
    }

    &--sub {
        font-size: 2rem;
        letter-spacing: 1.5rem;
        animation: moveInRight 1s ease-out;

        @include respond(600) {
            letter-spacing: 1rem;
        }
    }
}

.underlined-header{
    &::after{
    display: block;
    height: 2px;
    background-color: $color-teal;
    content: " ";
    width: 100px;
    margin-left: 0;
    margin-top: 20px;
    }
}


.heading-secondary{
    text-transform: uppercase;
}


.card{
    font-size: inherit;
    transition: all 0.3s;
    a{
        color: $color-grey-dark;
        font-size: inherit;
        font-weight: 500;
    }

    &:hover{
        a{
            color:$color-teal
        }
    }
}

.sidebar__wrapper.active{
    font-size: 2rem;
}

.sidebar--link{ 
    display: block;
    font-size: 2rem;
    color: $color-grey-dark-3;
    transition: all .3s;
    cursor: pointer;
   
    &:hover{
    color:$color-teal;
    text-decoration:none;
    transform: translateX(4px);
    }

    &-main{
        color: $color-grey-dark-3;
        font-size: 2.2rem;
       cursor: pointer;
       
    //    &:hover{
    //         color:$color-teal-dark;
    //         text-decoration:none;
    //     } 

}
}

.underline--magical {
    background-image: linear-gradient(120deg, $color-teal-light 0%, $color-teal 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    &:hover {
      background-size: 100% 88%;
    }
  }
  



