.section-title{
    background-image: linear-gradient(rgba($color-teal-dark, 1), rgba($color-blue-light, 0.801)), url("../images/hero2.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.section-cards{
    
    position: relative;
    background-color: $color-blue-light;
    
}


