.section-title{
    background-image: linear-gradient(rgba($color-teal-dark, 0.801), rgba($color-grey-blue, 0.801)), url("../images/hero2.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.section-cards{
    padding: 4% 12%;
    position: relative;
    background-color: $color-grey-blue;
    z-index: 1;   
}
.section-shop{
    background-color: $color-white;
}

