.section-title{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("../images/hero2.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.section-cards{
    padding: 7% 15%;
    position: relative;
    background-color: $color-grey-dark-2;
    z-index: 1;
    
}

