.section{
    min-height: 90vh;
}

.section-title{
    background-image: linear-gradient(rgba($color-teal-dark, 1), rgba($color-grey-light, 0.801)), url("../images/hero2.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.cards-section{
    
    // position: relative;
    background-color: $color-grey-light;
    
}


.empty-basket-section{
    color: $color-grey-dark;
}


.empty-basket-section .icon{

    color: $color-grey-dark;
    font-size: 10rem;
    
}




