.basket{
    a{
        color: $color-grey-dark;
    }

    &__icon{
        font-size: 2rem;
    }

    &:hover{
        a{
            color:$color-teal
        }
    }


}

.basket__img{
    max-width: 10rem;
}