.button{
    &,
    &:link,
    &:visited{
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    padding: 1.2% 3.0%;
    display: inline-block;
    position: relative;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    }

    &__rounded{
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    }

    &--shadowed{
        &:hover{
            transform: translateY(-3px);
            -webkit-transform: translateY(-3px);
            -moz-transform: translateY(-3px);
            -ms-transform: translateY(-3px);
            -o-transform: translateY(-3px);
        
            box-shadow: 0 10px 20px rgba($color-black,.2);
        }
    }

   
    &--teal-light{
        background-color: $color-teal-light;
        color: $color-white;
        &:hover{
            background-color: $color-yellow-light;
            color: $color-teal-dark;
        }
    }

    &--teal{
        background-color: $color-teal;
        color: $color-white;
        border: 1px solid $color-teal;
        &:hover{
            background-color: $color-yellow-light;
            color: $color-teal;
            border: 1px solid $color-teal ;
        }
    }

    &--teal-dark{
        background-color: $color-teal-dark;
        color: $color-white;
        &:hover{
            background-color: $color-yellow-light;
            color: $color-teal-dark;
        }
    }

    &--teal-outline{
        background-color: $color-white;
        border: 1px solid $color-teal;
        color: $color-teal;
        display: inline-block;
        &:hover{
            background-color: $color-teal;
            color: $color-white;
        }
    }

    &--teal-dark-outline{
        background-color: $color-white;
        border: 1px solid $color-teal-dark;
        color: $color-teal-dark;
        display: inline-block;
        &:hover{
            background-color: $color-yellow-light;
            color: $color-teal-dark;
        }
    }
}

    

// .center{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }