.page-link{
    color: $color-teal-dark;

    &:hover{
        background-color: $color-yellow-light;
    }
}

.page-item.active .page-link{
    background-color: $color-teal;
    border-color: $color-teal;
}