.dropdown-menu{
    min-width: 25rem;
    min-height: auto;
    border-radius: .5rem;
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
    background-color: $color-grey-light;

    a{
        color: $color-teal ;
        &:hover{
            color: $color-grey-dark-3;
            text-decoration: none;
        }
    }

}

