.navbar{
    background-color: $color-teal-dark;
}

.navbar-brand{
    font-size: 2.0rem;
}

nav .navbar-nav li a {
    
    font-size: 2.0rem;
    color: white !important;
    transition: all .3s;

    

  }

nav .navbar-nav li 
a:hover
{
    color: $color-yellow-light !important;
    transform: scale(1.1);

    @include respond(600) {
        transform: none;
    }

}

.nav-item{
    font-size: 2.0rem;
    padding: 0 6px;
    &:hover{
        color: $color-yellow-light;
        
    }
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler{
    border:none
}

.collapse-icon{
    font-size: 2rem;
    color: $color-white;
}
