.navbar{
    background-color: $color-grey-dark-3;
    padding: 0.7rem 4rem;
}

.navbar-brand{
    width: 17rem;
    margin: 0;

}


.navbar-dark .nav-item .nav-link{
    // font-size: 1.8rem;
    color: white;
    transition: all .3s;
}

.nav-link{
    font-size: 1.8rem;
    font-weight: bolder;
    text-transform: uppercase;

    @include respond(600) {
        font-size: 2.5rem;
    }
}


.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item .nav-link:active,
.navbar-dark .nav-item .nav-link:focus,
.navbar-dark .nav-item:hover .nav-link  {

    color: $color-yellow-light;
}

.nav-item.dropdown  a[aria-expanded="true"]{
    background-color: $color-grey-dark-3;
}


.nav-item{
    padding: 0 6px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler{
    border:none
}

.collapse-icon{
    font-size: 2rem;
    color: $color-white;


}


