.menu-items{
    list-style-type:none;
    font-size:11px;
    display:inline-flex;
    margin-bottom:0;
    margin-top:20px;

  
    li{
        margin-right:25px;
        text-transform: uppercase;
        font-weight:lighter;
        cursor:pointer
    }
    li.active{
    border-bottom:3px solid $color-teal;
    }

}

.description-area{
    min-width: 100%;
    border-top:1px solid silver;
    padding: 15px

}