.wrapper {
    
    height: 100%;
    align-items: stretch;
    border-right: 1px solid $color-teal-light;
    
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 255px;
    min-height: 100vh;
    margin-left: -800px;
    background: $color-white;
    color: $color-teal;
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: 0px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: $color-white;
    color: $color-teal-dark;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color:$color-teal-dark;
    background: $color-teal-light;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: $color-white;
    background: $color-teal;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: $color-white;
    color: $color-teal;
}
ul ul ul li {
    font-size: 0.9em !important;
    padding-left:0px !important;
    background: $color-white;
    color: $color-teal;
}
