.sidebar__wrapper {
    
    max-height: max-content;
    
    padding: 1rem;
    align-items: stretch;
    border-right: 1px solid transparent;
    background-color: $color-grey-light;
    transition: all 0.3s;
    @include respond(1000) {
        display: none;
    }
}

.sidebar__wrapper.active{
    display: block;
    height: 100%;
  width: 85%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;

  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; 
}

#sidebar {
    min-height: 100vh;
    
    background-color: $color-grey-light;
    color: $color-teal-dark;
   
}


#sidebar .sidebar-header {
    padding: 2rem;
    background-color: $color-grey-light;
    color: $color-black;

}

#sidebar .sidebar-subheader {
    padding: 2rem;
    background-color: $color-grey-light;
    color: $color-black;

}

#sidebar .sidebar--link{
   
    // font-size: 1.6rem;
    display: block;
    color: $color-teal;
    transition: all .3s;
    cursor: pointer;
   
    

    &:hover{
        color:$color-teal-dark;
    text-decoration:none;
    transform: translateX(-4px);
    }
}



// #sidebar a {
//     font-size: 1.4rem;
//     background-color: $color-grey-light;
//     color: $color-teal;
// }

.sidebar__closeButton{
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
}
//shop component
.sidebar__toggler{
    
        padding: 0.75rem 1rem;
        margin-bottom: 1rem;
        display: none;
        color: $color-teal-dark;
        cursor: pointer;
    
        @include respond(1000) {
            display: block;
        }    
}
