.sidebar__wrapper {
    
    max-height: max-content;
    width: 15%;
    align-items: stretch;
    border-right: 1px solid transparent;
    background-color: $color-grey-light;
    transition: all 0.3s;
    @include respond(1000) {
        display: none;
    }
}

#sidebar ul{
    list-style-type: none;
}

.sidebar__wrapper.active{
  display: block;
  height: 100%;
  width: 65%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; 
}

.sidebar__closeButton{
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 4rem;
    cursor: pointer;
}
//shop component
.sidebar__toggler{
        font-size: 2.5rem;
        padding: 0.75rem 1rem;
        margin-bottom: 1rem;
        display: none;
        font-weight: bold;
        color: $color-teal;
        cursor: pointer;
    
        @include respond(1000) {
            display: block;
        }    
}
